<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.eatin.android101.app2">
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" tools:ignore="ProtectedPermissions"/>
    <application android:label="@string/app_name" android:icon="@mipmap/a101_app2_launcher"
                 android:name=".MainApplication"
                 android:largeHeap="true"
                 android:hardwareAccelerated="true"
                 android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
                  android:taskAffinity=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>
</manifest>