<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.eatin.android101.app2">

    <application>
        <activity android:name=".SettingsActivity"
                  android:screenOrientation="portrait"
                  android:taskAffinity=".SettingsActivity"
                  android:label="@string/app_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>